<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap os="linux" dll="OpenCL.dll" target="libOpenCL.so"/>
  <dllmap os="osx" dll="OpenCL.dll" target="/System/Library/Frameworks/OpenCL.framework/OpenCL"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
